/* This will affect all h1 elements inside of the #wrapper container. This will fill
to the full width of the web page, and then center the text to the middle of the screen.
Then it will give a 20 pixel gap in all directions around the outside of the wrapper.
*/
#wrapper h1 {
  width: 100%;
  text-align: center;
  margin:20px
}

/**
 This will effect only the employee  list. This will give it a black border, and
 set the width to 50% of the inside of wrapper. Then will use a margin hack to
 center the elementList. This will give a inner spacing of 10 pixels.
 */
#wrapper #employeeList {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

/*
This effect only employeeHeader class inside of the employeeList. This will give the contents
inside of a employeeHeader class a inline-block display, and uses  the same margin hack to
center. Then finally the width for each employeeHeader is to fill 25% of the maximum space.
*/
#employeeList .employeeHeader {
  display: inline-block;
  margin: 0 auto;
  width: 25%;
}

/**
 This will effect the employeeListView inside of the employeeList. This will give the contents
 of the employeeListView the table like appearance, and set the width to fill to the container,
 then it gives it a border.
 */
#employeeList .employeeListView {
  display: block;
  width: 100%;
  border: 1px solid black;
}

/**
This will make the search bar fill the width of the container, and will give it a
margin outer spacing of 10 px.
 */
#searchBar {
  width: 100%;
  margin: 10px 0;
}
