<!-- The wrapper contains the entire web app -->
<div id="wrapper">
  <h1 [textContent]="title"></h1>

  <!-- Container for the employee list view -->
  <div id="employeeList">

    <!-- container for the search bar inside of the employee list container -->
    <span id="searchView">

      <!-- This will take the user input for something to filter the list by. This
      will trigger the function search() when the user types something in the search
      bar-->
      <input id="searchBar" type="text" placeholder="Search employee here" #searchBar
      (change)="search($event);">
    </span>

    <!-- This contains the headers for the employee view this will describe what the
    data directly below it represents. -->
    <span id="headers">
      <span class="employeeHeader">Full Name</span>
      <span class="employeeHeader">Position</span>
      <span class="employeeHeader">Pay per hour</span>
    </span>

    <!-- This contains the list of employees who work for the company. This will
    iterate through the entire list, and display each employee name, position, and
    how much they are payed.-->
    <span class="employeeListView">
      <div *ngFor="let employee of employeeViewList">
        <span [textContent]="employee.Name" class="employeeHeader"></span>
        <span [textContent]="employee.Position" class="employeeHeader"></span>
        <span [textContent]="employee.Pay" class="employeeHeader"></span>
      </div>
    </span>
</div>
</div>
